.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-box {
    background: #2a2a2a;
    padding: 25px;
    width: 450px;
    border-radius: 10px;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #9a0707;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.modal-close:hover {
    background: #b80b0b;
}

.modal-box input,
.modal-box select,
.modal-box textarea {
    width: 100%;
    margin-bottom: 12px;
    background: #414141;
    border: 1px solid #525252;
    padding: 8px;
    color: #fff;
    border-radius: 6px;
}
